In [1]:
import pandas as pd
from google.colab import files

uploaded = files.upload()

Saving Sample_Data_Set.csv to Sample_Data_Set.csv

In [3]:
df = pd.read_csv("Sample_Data_Set.csv")
df

      OCCUPANT  ID  ...                            GEOLOCATION
0            30060  ...                                    NaN
1            23023  ...           POINT (-91.189808 30.442741)
2            23023  ...           POINT (-91.189808 30.442741)
3            24781  ...            POINT (-91.18939 30.448081)
4            24604  ...           POINT (-91.189808 30.442741)
...            ...  ...                                    ...
1994          5040  ...  POINT (-91.184407 30.451541000000002)
1995          5040  ...  POINT (-91.184407 30.451541000000002)
1996          5040  ...  POINT (-91.184407 30.451541000000002)
1997          5040  ...  POINT (-91.184407 30.451541000000002)
1998          5040  ...  POINT (-91.184407 30.451541000000002)

[1999 rows x 17 columns]

In [4]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn import preprocessing
from sklearn.svm import SVC

In [5]:
npdf = df.to_numpy()
npdf = np.delete(npdf, 16, 1)
npdf = np.delete(npdf, 15, 1)
npdf = np.delete(npdf, 13, 1)
npdf = np.delete(npdf, 0, 1)
npdf = np.delete(npdf, 1, 1)
npdf = np.delete(npdf, 1, 1)
npdf = np.delete(npdf, 1, 1)
npdf = np.delete(npdf, 1, 1)
npdf = np.delete(npdf, 2, 1)
npdf = np.delete(npdf, 2, 1)
npdf = np.delete(npdf, 2, 1)
npdf = npdf[:14649]
df2 = pd.DataFrame(npdf, columns=['0','1','2','3','4','5'])
df2

                                        0                 1  ...      4            5
0     Southern University and A&M College         0 SWAN AV  ...    FDC         MISC
1                 The Famous Theatre Inc.     100 FRANCE ST  ...    OCC     10:6.3.1
2                 The Famous Theatre Inc.     100 FRANCE ST  ...    OCC    7.1.10.1*
3                Shaw Center for the Arts  100 LAFAYETTE ST  ...  SPRIN  LRS 40:1646
4                     Shucks on the Levee     100 FRANCE ST  ...    REG  LRS 40:1646
...                                   ...               ...  ...    ...          ...
1994                   The Daiquri Lounge       602 Main ST  ...    REG  LRS 40:1646
1995                   The Daiquri Lounge       602 Main ST  ...    REG  LRS 40:1646
1996                   The Daiquri Lounge       602 Main ST  ...    REG  LRS 40:1646
1997                   The Daiquri Lounge       602 Main ST  ...    REG  LRS 40:1646
1998                   The Daiquri Lounge       602 Main ST  ...    REG  LRS 40:1646

[1999 rows x 6 columns]

In [6]:
cv = CountVectorizer()

X = df2.loc[: ,"0"]
y = df2.loc[: ,"5"]
X_train, X_test, y_train, y_test = train_test_split(X.astype(str), y, test_size = 0.25, random_state = 123)
cv = CountVectorizer().fit(X_train)
df_train0 = pd.DataFrame(cv.fit_transform(X_train).todense(),columns = cv.get_feature_names())
df_test0 = pd.DataFrame(cv.transform(X_test).todense(), columns = cv.get_feature_names())

X = df2.loc[: ,"1"]
y = df2.loc[: ,"5"]
X_train, X_test, y_train, y_test = train_test_split(X.astype(str), y, test_size = 0.25, random_state = 123)
cv = CountVectorizer().fit(X_train)
df_train1 = pd.DataFrame(cv.transform(X_train).todense(),columns = cv.get_feature_names())
df_test1 = pd.DataFrame(cv.transform(X_test).todense(), columns = cv.get_feature_names())

X = df2.loc[: ,"2"]
y = df2.loc[: ,"5"]
X_train, X_test, y_train, y_test = train_test_split(X.astype(str), y, test_size = 0.25, random_state = 123)
cv = CountVectorizer().fit(X_train)
df_train2 = pd.DataFrame(cv.transform(X_train).todense(),columns = cv.get_feature_names())
df_test2 = pd.DataFrame(cv.transform(X_test).todense(), columns = cv.get_feature_names())

X = df2.loc[: ,"3"]
y = df2.loc[: ,"5"]
X_train, X_test, y_train, y_test = train_test_split(X.astype(str), y, test_size = 0.25, random_state = 123)
cv = CountVectorizer().fit(X_train)
df_train3 = pd.DataFrame(cv.transform(X_train).todense(),columns = cv.get_feature_names())
df_test3 = pd.DataFrame(cv.transform(X_test).todense(), columns = cv.get_feature_names())

X = df2.loc[: ,"4"]
y = df2.loc[: ,"5"]
X_train, X_test, y_train, y_test = train_test_split(X.astype(str), y, test_size = 0.25, random_state = 123)
cv = CountVectorizer().fit(X_train)
df_train4 = pd.DataFrame(cv.transform(X_train).todense(),columns = cv.get_feature_names())
df_test4 = pd.DataFrame(cv.transform(X_test).todense(), columns = cv.get_feature_names())

In [7]:
train = pd.concat([df_train0, df_train1, df_train2, df_train3, df_train4], axis = 1)
test = pd.concat([df_test0, df_test1, df_test2, df_test3, df_test4], axis = 1)

In [8]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, f1_score 

for i in [.01,.1,.5,1,10]:
  model = MultinomialNB(alpha = i)
  model.fit(train, y_train)
  y_predicted = model.predict(test)
  print("Alpha: ", i)
  print(accuracy_score(y_test, y_predicted))

Alpha:  0.01
0.264
Alpha:  0.1
0.294
Alpha:  0.5
0.314
Alpha:  1
0.308
Alpha:  10
0.276

In [9]:
from sklearn.ensemble import RandomForestClassifier
for i in [1,10,20,100,500]:
  model = RandomForestClassifier(random_state=0, n_estimators=i)
  model.fit(train, y_train)
  y_predicted = model.predict(test)
  print("N_estimator: ", i)
  print(accuracy_score(y_test, y_predicted))

N_estimator:  1
0.218
N_estimator:  10
0.248
N_estimator:  20
0.268
N_estimator:  100
0.274
N_estimator:  500
0.274